@model List<Doctor>

<h1>Doctores SQLServer y Oracle DI</h1>

<a asp-controller="Doctores" asp-action="Create">New Doctor</a>

@if(Model != null)
{
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
            <th>Hospital</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Doctor doc in Model)
        {
            <tr>
                <td>@doc.IdDoctor</td>
                <td>@doc.Apellido</td>
                <td>@doc.Especialidad</td>
                <td>@doc.Salario</td>
                <td>@doc.IdHospital</td>
                <td>
                    <a asp-controller="Doctores" asp-action="Edit" asp-route-idDoctor="@doc.IdDoctor" class="btn btn-warning">Edit</a>
                    <a asp-controller="Doctores" asp-action="Delete" asp-route-idDoctor="@doc.IdDoctor" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <h2 style="color:red">No se han podido cargar los doctores</h2>
}